

.counter-container {
    border: 1px solid black;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: lightgray;
}



.counter-title {
    text-align: center;
    color: red;
}


.counter-value{
    font-size: xx-large;
    margin: 0 1rem;
}