.add-container{
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: lightgoldenrodyellow;
    
}

.add-title{
    text-align: center;
    color: red;
}

.add-variables{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 0.5rem;
}

.add-display{
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}