.Products-container{
    text-align: center;
    border: 1px solid black;
}

.products-items-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
   overflow-y: auto;
   height: 560px;
}